/*********** HEADER SPECIAL **********/
$bands-header-bg-color: #235CE0;
$bands-header-color: #fff;


/**** SIZES ****/
$padding-normal : 8;



/*** FONT-SIZES ***/
$bands-font-8: 8;
$bands-font-10: 10;
$bands-font-11: 11;
$bands-font-12: 12;
$bands-font-14: 14;
$bands-font-16: 16;
$bands-font-18: 18;
$bands-font-20: 20;
$bands-font-22: 22;
$bands-font-24: 24;
$bands-font-28: 28;
$bands-font-32: 32;
