@import '_pods';

html, 
body {
    margin: 0;
    overflow-x: hidden;
    background-color: #eeeeee;
}

.site-information,
.site-information-footer {
    background-color: $bands-header-bg-color;
    box-sizing: border-box;    
    color: $bands-header-color;
    margin: 0;
    padding: $padding-normal + px;
    width: 100%;
    font-weight: bold;
    text-align: center;
    font-size: 1.7rem;
}

.site-information-footer {
    position: fixed;
    bottom: 0;
}