<div>
    {{#each bands as |band|}}
        {{#link-to "bands.songs" band.id}}
            {{band-listing
                band=band
            }}
        {{/link-to}}
    {{/each}}
</div>
tish: {{outlet}}